### IntelliJ IDEA ###
.idea
.idea_modules/
modules.xml
*.iml
*.iws
*.ipr
out/

### Sbt ###

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

### Scala ###
*.class
*.log

### Metals / Bloop / BSP ###
.bloop/
.metals/
project/metals.sbt
.bsp/

### Generic ###
*.DS_Store
